/*Generic properties*/

h1,h2,h3,h4,h5 {
    margin: 0;
}
h1 {
    font: bold 3rem/5rem $serif;
    margin-bottom: 20px;
}
h2 {
    font: bold 2.5rem/3rem $sans;
}
h3 {
    font: bold 1.5rem/2rem $sans;
    letter-spacing: 1px;
    margin-bottom: 15px;
    clear: both;
}
h4 {
    font: bold 1.33rem/2rem $sans;
    letter-spacing: 1px;
    margin-bottom: 15px;
    clear: both;
}
h5 {
    font: bold 1rem/1.5rem $sans;
    letter-spacing: 1px;
    margin-bottom: 10px;
    clear: both;
}
small {
    font-size: .75rem;
    opacity: .6;
    letter-spacing: 1px;
    display: block;
}
::placeholder {
    color: #ccc;
}
input {
    font: bold 1.6rem/48px $serif;
    width: 100%;
    border: 1px solid #ddd;
    outline: none;
    text-align: center;
    outline: none;
    padding: 0;
    margin: 15px 0;
    margin: 5px 0;
    color: #555;
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0,0,0,.125);
    text-transform: uppercase;
    &:focus {        
        background-color: #fff;
        opacity: 1;
        box-shadow: inset $fat-shadow; 
    }
    &.input-big {
        font-size: 1.75rem;
        line-height: 60px;
        margin-top: 15px;
        height: 58px;
        margin-bottom: 20px;
    }
    &.input-half {
        float: left;
        width: 45%;
    }
    &::placeholder{
        font-weight: 300;
        text-transform: none!important;
    }
}
.serif {
    font-family: $serif;
}
.sans {
    font-family: $sans;
}
.hidden {
    opacity: 0;
}
.showing {
    opacity: 1!important;
    z-index: 333!important;
}
.one-third {
    width: 33%!important;
}
.two-thirds {
    width: 66%!important;
}
.half-width {
    width: 50%!important;
}
.full-width {
    width: 100%!important;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-red {
    color: $red!important;
}
.text-blue {
    color: $blue!important;
}
.text-green {
    color: $green!important;
}
.text-white {
    color: #fff!important;
    text-shadow: $med-shadow;
}
.text-bold {
    font-weight: bold!important;
}
.text-normal {
    font-weight: normal!important;
}
.text-slim {
    font-weight: 300!important;
}
.faded {
    opacity: .33;
}
.next {
    background-color: $green;
    border: none;
    outline: none;
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 1.9rem;
    line-height: 60px;
    color: #fff;
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 30px;
    box-shadow: $down-fat;
    z-index: 1234;
    .frame-content & {
        bottom: -30px;
    }
    &.inactive {
        background-color: $neutral;
    }
    .wide & {
        bottom: -30px;
    }
}
.points {
    background-color: $green;
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 40px;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    box-shadow: $down-fat;
    text-shadow: $med-shadow;
    z-index: 1234;
    text-align: center;
    position: absolute;
    right: 20px;
    top: -20px;
}
.btn {
    background: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: $med-shadow;
    font: bold 1.2rem/30px $sans;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 15px;
    display: block;
    text-align: center;
    margin: 15px 0;
    -webkit-transition: background .25s; 
    transition: background .25s;  
    border-bottom: 2px solid #eee; 
    height: 60px;
    &.btn-half {
        width: 45%;
        float: right;
    }     
    &.btn-skip {
        > span {
            font-size: 14px;
            display: block;
        } 
    }  
    &:active {
        position: relative;
        top: 1px;
    }
}
.btn-green {
    background: $green;
    color: #fff;
    border-bottom-color: darken($green,8%);
    text-shadow: $med-shadow; 
    &:active, &:focus, &:hover {
        background-color: darken($green,4%); 
        border-top: 2px solid darken($green,8%);
        border-bottom:none;
        box-shadow: inset $med-shadow;
    }
} 
.btn-red {
    @extend .btn-green;
    background-color: $red; 
    border-bottom-color: darken($red,8%);
    &:active, &:focus, &:hover {
        background-color: darken($red,4%); 
        border-top: 2px solid darken($red,8%);
    }
} 



.btn-pick {
    float: left;
    width: 45%;
    margin-left: 10%;
    margin-bottom: 20px;
    font-size: 1.4rem;
    line-height: 1.5rem;
    height: auto;
    &.pick-red {
        margin-left: 0;
        color: $red;
    }
    &.pick-blue {
        color: $blue;
    }
}
.status {
    color: #fff;
    text-shadow: $med-shadow;
    margin-bottom: 0;
    line-height: 22px;
    padding: 15px 0;
    text-transform: uppercase;
    strong {
        font-size: 25px;
        letter-spacing: 2px;
    }
}
.label {
    color: #999;
    font-family: $serif;
    font-weight: 300;
    letter-spacing: 3px;
    clear: both;
}
.countdown {
    color: #fff;
    font-family: $sans;
    text-shadow: $med-shadow;
    position: absolute;
    top: 14%;
}

.list {
    padding: 0;
    margin: 0;
    float: left;
    list-style: none;
    margin-bottom: 30px;
    li {
        text-transform: uppercase;
        font: bold 1.2rem/2.5rem $sans;
    }    
    &.list-red li {
        color: $red;
    }
    &.list-blue li {
        color: $blue;
    }
}
