/*Generic properties*/

h1,h2,h3,h4,h5 {
    margin: 0;
}
h1 {
    font: 600 7.5rem/6rem $serif;
    margin-bottom: 20px;
}
h2 {
    font-size: 2.4rem;
}
h3 {
    font: bold 19px/40px $sans;
    letter-spacing: 1px;
    margin-bottom: 15px;
    clear: both;
}
::placeholder {
    color: #ccc;
}
input {
    font: bold 27px/48px $serif;
    width: 100%;
    border: 1px solid #ddd;
    outline: none;
    text-align: center;
    outline: none;
    padding: 0;
    margin: 15px 0;
    margin: 5px 0;
    color: #555;
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0,0,0,.125);
    text-transform: uppercase;
    &:focus {        
        background-color: #fff;
        opacity: 1;
        box-shadow: inset $fat-shadow; 
    }
    &.input-big {
        font: bold 26px/60px $serif!important;
        margin-top: 15px;
        height: 58px;
        font-weight: 300;
        margin-bottom: 20px;
    }
    &.input-half {
        float: left;
        width: 45%;
    }
    &::placeholder{
        font-weight: 300;
        text-transform: none!important;
    }
}
.serif {
    font-family: $serif;
}
.sans {
    font-family: $sans;
}
.hidden {
    opacity: 0;
}
.showing {
    opacity: 1!important;
    z-index: 333!important;
}
.one-third {
    width: 33%!important;
}
.two-thirds {
    width: 66%!important;
}
.half-width {
    width: 50%!important;
}
.full-width {
    width: 100%!important;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-red {
    color: $red;
}
.text-blue {
    color: $blue;
}
.text-bold {
    font-weight: bold!important;
}
.text-normal {
    font-weight: normal!important;
}
.text-slim {
    font-weight: 300!important;
}
.faded {
    opacity: .33;
}
.next {
    background-color: $green;
    border: none;
    outline: none;
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 1.9em;
    line-height: 60px;
    color: #fff;
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 30px;
    box-shadow: $down-fat;
    -webkit-transition: opacity ease-in .5s; 
    transition: opacity ease-in .5s;
    z-index: 123;
    &.inactive {
        background-color: $neutral;
    }
    .wide & {
        bottom: -30px;
    }
}

.btn {
    background: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: $med-shadow;
    font: bold 18px/30px $sans;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 15px;
    display: block;
    text-align: center;
    margin: 15px 0;
    -webkit-transition: background .25s; 
    transition: background .25s;  
    border-bottom: 2px solid #eee; 
    height: 60px;
    &.btn-half {
        width: 45%;
        float: right;
    }     
    &.btn-skip {
        > span {
            font-size: 14px;
            display: block;
        } 
    }        
}
.btn-green {
    background: $green;
    color: #fff;
    border-bottom-color: darken($green,8%);
    text-shadow: $med-shadow; 
    &:active, &:focus, &:hover {
        background-color: darken($green,4%); 
        border-top: 2px solid darken($green,8%);
        border-bottom:none;
        box-shadow: inset $med-shadow;
    }
} 
.btn-red {
    @extend .btn-green;
    background-color: $red; 
    border-bottom-color: darken($red,8%);
    &:active, &:focus, &:hover {
        background-color: darken($red,4%); 
        border-top: 2px solid darken($red,8%);
    }
} 



.btn-pick {
    float: left;
    width: 45%;
    margin-left: 10%;
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 24px;
    height: auto;
    &.pick-red {
        margin-left: 0;
        color: $red;
        &:active, &:focus, &:hover {
            background-color: lighten($red, 3.33%);
            color: #fff;
            text-shadow: $med-shadow;
            box-shadow: inset $fat-shadow;
        }
    }
    &.pick-blue {
        color: $blue;
        &:active, &:focus, &:hover {
            background-color: lighten($blue, 3.33%);
            color: #fff;
            text-shadow: $med-shadow;
            box-shadow: inset $fat-shadow;
        }
    }
}
.status {
    color: #fff;
    -webkit-transition: all ease-in .5s; 
    transition: all ease-in .5s;
    text-shadow: $med-shadow;
    margin-bottom: 0;
    line-height: 22px;
    padding: 15px 0;
    text-transform: uppercase;
    small {
        font-size: 12px;
        line-height: 18px;
        opacity: .7;
        display: block;
    }
    strong {
        font-size: 25px;
        letter-spacing: 2px;
    }
}
.label {
    color: #999;
    font: 300 20px/30px $serif;
    letter-spacing: 3px;
    clear: both;
}

.list {
    padding: 0;
    margin: 0;
    float: left;
    list-style: none;
    margin-bottom: 30px;
    li {
        text-transform: uppercase;
        font: bold 19px/40px $sans;
    }    
    &.list-red li {
        color: $red;
    }
    &.list-blue li {
        color: $blue;
    }
}