/*Generic properties*/

h1,h2,h3,h4,h5 {
    margin: 0;
}
h1 {
    font: 500 10rem/6rem $serif;
    margin-bottom: 20px;
}
h2 {
    font-size: 2.4rem;
}
h3 {
    font: bold 20px/40px $sans;
    letter-spacing: 1px;
    margin-bottom: 15px;
    clear: both;
}
::placeholder {
    color: #ccc;
}
input {
    font: normal 27px/48px $serif;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    outline: none;
    padding: 0;
    margin: 0;
    margin: 5px 0;
    color: #444;
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0,0,0,.125);
    &:focus {        
        background-color: #fff;
        opacity: 1;
        box-shadow: inset $fat-shadow; 
    }
    &.input-big {
        font: normal 38px/60px $serif;
        margin-top: 15px;
        margin-bottom: 20px;
    }
}
.serif {
    font-family: $serif;
}
.sans {
    font-family: $sans;
}
.hidden {
    opacity: 0;
}
.showing {
    opacity: 1!important;
    z-index: 333!important;
}
.full-width {
    width: 100%!important;
}
.text-center {
    text-align: center;
}
.next {
    background-color: $green;
    border: none;
    outline: none;
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 1.9em;
    line-height: 60px;
    color: #fff;
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 30px;
    box-shadow: $down-fat;
    -webkit-transition: opacity ease-in .5s; 
    transition: opacity ease-in .5s;
    z-index: 123;
    &.inactive {
        background-color: $neutral;
    }
    .wide & {
        bottom: -30px;
    }
}

.btn {
    background: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: $med-shadow;
    font: bold 24px/28px $sans;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 15px 0;
    display: block;
    text-align: center;
    -webkit-transition: background .5s; 
    transition: background .5s;   
    &.btn-skip {
        > span {
            font-size: 14px;
            display: block;
        } 
    }        
}


.btn-pick {
    float: left;
    width: 45%;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    &.pick-red {
        margin-left: 0;
        color: $red;
        .body.team-red & {
            background-color: lighten($red, 3.33%);
            color: #fff;
            text-shadow: $med-shadow;
            box-shadow: inset $fat-shadow;
        }
    }
    &.pick-blue {
        color: $blue;
        .body.team-blue & {
            background-color: lighten($blue, 3.33%);
            color: #fff;
            text-shadow: $med-shadow;
            box-shadow: inset $fat-shadow;
        }
    }
}

.status {
    color: #fff;
    -webkit-transition: all ease-in .5s; 
    transition: all ease-in .5s;
    text-shadow: $med-shadow;
    margin-bottom: 0;
}