$red: #d00066;
$blue: #0086e5;
$green: #36c195;
$neutral: #bbb;
$serif: 'Alegreya SC', serif;
$sans: 'Titillium Web', sans-serif;
$fat-shadow: 0 0 10px rgba(0,0,0,.25);
$med-shadow: 0 0 5px rgba(0,0,0,.25);
$up-med: 0 -2px 5px rgba(0,0,0,.25);
$down-fat: 0 2px 10px rgba(0,0,0,.25);
$heavy-shadow: 0 0 10px rgba(0,0,0,.5);
