<div class="main-frame box-join offset-left">
  <div class="frame-content box-white"> 
    <h3 class="status full-width text-center">CREATE ROOM</h3>
    <div class="welcome frame-content text-center" [formGroup]="roomForm">
        <button class="playercount-ctrl decrease" (click)="playerCount(-1)"><i class="fas fa-angle-left"></i></button>
        <h1>{{playerCounter}}</h1>
        <button class="playercount-ctrl increase" (click)="playerCount(1)"><i class="fas fa-angle-right"></i></button>
      <h3>PLAYERS</h3>
    </div>

  </div>
</div>  


<button class="next" (click)="createRoom()"><i class="fas fa-angle-right"></i></button>
