@import '../../app/common/variables.scss';
@import '../../app/common/mixins.scss';
@import '../../app/common/generic.scss';
@import '../../app/common/layout.scss';

.createRoom {
  .main-frame {
    top: 29%;
    .frame-content.box-white {
    padding: 60px 0 30px;
  }
}
  h1 {
    float: left;
    width: 33.33%;
    text-align: center;
    font-size: 7.5rem;
  }
  .playercount-ctrl {
    border: none;
    background: none;
    float: left;
    font-size: 4rem;
    line-height: 7rem;
    color: #ccc;
    width: 33.33%;
    text-align: center;
    outline: none;
    .increase {
      float: right;
    }
    &:hover {
      color: #999;
    }
  }
}