<div class="main-frame box-join offset-left">
  <h3 class="status full-width text-center">CREATE ROOM</h3>
  <div class="welcome frame-content text-center" [formGroup]="roomForm">
      <button class="playercount-ctrl decrease" (click)="decPlayerCount()"><i class="fas fa-angle-left"></i></button>
      <h1>6</h1>
      <button class="playercount-ctrl increase" (click)="incPlayerCount()"><i class="fas fa-angle-right"></i></button>
    <h3>PLAYERS</h3>
    <input type="text" placeholder="new room code" formControlName="gameRoom" />
  </div>
</div>  


<button class="next" (click)="connectToRoom()"><i class="fas fa-angle-right"></i></button>
