@import '../../app/common/variables.scss';
@import '../../app/common/mixins.scss';
@import '../../app/common/generic.scss';
@import '../../app/common/layout.scss';

.solutions-input {
    .main-frame {
        top: 50%;
        margin-top: -222px;
    }
    .footer {
        bottom: 32px;
        h2.status {
            line-height: 1rem;
            font-size: 3rem;
        }
    }
}