@import '../app/common/variables.scss';
@import '../app/common/mixins.scss';

// todo assets
.body{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #faf8f7;
    color: #444;
    -webkit-transition: all 1s ease-out;
    transition: opacity 1s ease-out;
}
    
.progress-bg {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: $green;
    @include reflected-gradient(#666, #a2a2a2);
    box-shadow: inset $med-shadow;
    width: 0%;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    &.third {
        width: 33.33%;
    }
    &.two-thirds{
        width: 66.67%;
    }
    &.full-width{
        width: 100%;
    }
    &.countdown  {
        -webkit-transition: all 6s ease-out;
        transition: all 6s ease-out;
    }

    .body.red-team &{
        background-color: $red;
        @include reflected-gradient(#a70036, #e80075);
        &::after {
            @extend %emblem;
            // background-image: url(../img/emblem-red.png)
        }
    }

    .body.blue-team &{
        background-color: $blue;
        @include reflected-gradient(#0062ea, #00a2e8);
        &::after {
            @extend %emblem;
            // background-image: url(../img/emblem-blue.png)
        }
        }
    }