@import '../app/common/variables.scss';
@import '../app/common/mixins.scss';

/*Layout specific styling*/
.body{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: $blue;
    color: #666;
    -webkit-transition: all 1s ease-out;
    transition: opacity 1s ease-out;
    font: normal 1em/2em $sans;
}
    
.progress-bg {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: $green;
    @include reflected-gradient(darken( $blue, 8%), lighten( $blue, 8%));
    box-shadow: inset $med-shadow;
    width: 0%;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    margin-right: 10px;
    &.third {
        width: 33.33%;
    }
    &.two-thirds{
        width: 66.67%;
    }
    &.full-width{
        width: 100%;
    }
    &.countdown  {
        -webkit-transition: all 6s ease-out;
        transition: all 6s ease-out;
    }

    .body.red-team &{
        background-color: $red;
        @include reflected-gradient(darken( $red, 8%), lighten( $red, 8%));
        &::after {
            @extend %emblem;
            background-image: url(../assets/img/emblem-red.png)
        }
    }

    .body.blue-team &{
        background-color: $blue;
        @include reflected-gradient(darken( $blue, 8%), lighten( $blue, 8%));
        &::after {
            @extend %emblem;
            background-image: url(../assets/img/emblem-blue.png)
        }
        }
    }
