
<div class="welcome-comp">
   <div class="main-frame text-center">
    <h4 class="status">          WELCOME!      </h4>
    <div class="welcome frame-content box-white text-center" [formGroup]="roomForm">
      <h4 class="label full-width">JOIN A ROOM</h4>
      <input class="input-big input-half col-xs-6" type="text" placeholder="Code" maxlength="4" formControlName="gameRoom" />
      <button class="btn btn-half btn-green" (click)="connectToRoom()">JOIN</button>
      <h4 class="label full-width">OR</h4>
      <button class="btn full-width btn-red" [routerLink]="['/create-room']">CREATE A ROOM</button>
    </div>
  </div>  
</div>  


