<div class="main-frame box-join offset-left text-center">
  <h3 class="status full-width">JOIN EXISTING ROOM</h3>
  <div class="welcome frame-content text-center" [formGroup]="roomForm">
    <input class="input-big" type="text" placeholder="room code" formControlName="gameRoom" />
    <button class="btn full-width text-blue" (click)="connectToRoom()">JOIN</button>
    <h3 class="status">OR</h3>
    <button class="btn full-width text-red" [routerLink]="['/create-room']">CREATE NEW ROOM</button>
  </div>
</div>  


