@import '../../app/common/variables.scss';
@import '../../app/common/mixins.scss';
@import '../../app/common/generic.scss';
@import '../../app/common/layout.scss';

h1 {
  float: left;
  width: 33.33%;
  text-align: center;
}