
<div class="player-joined {{selectedTeam}}" >    
        <div class="main-frame">    
            <h4 class="status">
                HEY,
            </h4>
      <div class="frame-content box-white">
        <input class="input-big" placeholder="your name"/>           
        
        <button class="btn btn-pick pick-red" (click)="chooseTeam('red')">TEAM RED</button>
        <button class="btn btn-pick pick-blue" (click)="chooseTeam('blue')">TEAM BLUE</button>
      </div>  
    </div>
    <div class="footer text-center one-third">
      <h3 class="status"><small>ROOM CODE</small> <strong>{{gameRoom.id}}</strong></h3>  
    </div>
    <button class="next" (click)="nextRoom()"><i class="fas fa-angle-right"></i></button>
</div>
