@import '../../app/common/variables.scss';
@import '../../app/common/mixins.scss';
@import '../../app/common/generic.scss';
@import '../../app/common/layout.scss';

.player-joined {
    &.blue .pick-blue{
            background-color: lighten($blue, 3.33%);
            color: #fff;
            text-shadow: $med-shadow;
            box-shadow: inset $fat-shadow;
    }
    &.red .pick-red{
            background-color: lighten($red, 3.33%);
            color: #fff;
            text-shadow: $med-shadow;
            box-shadow: inset $fat-shadow;
    }
}